tools/SmlEditor/SmlEditor/schemas/Texture.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Texture"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- texture type-->
  <xs:complexType name="textureType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- texture sequence type -->
  <xs:complexType name="textureSequenceType">
    <xs:sequence>
      <xs:element name="texture" type="textureType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
